.about-section {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 4rem;
  text-align: left;
  line-height: 1.6;
}

.about-content {
  display: flex;
  gap: 4rem;
  justify-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.about-description {
  /* border-radius: 50%; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 3.5rem;
  text-align: center;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
}

.background-warm {
  background: radial-gradient(
    circle,
    rgb(236, 225, 209) 0%,
    rgb(236, 225, 209) 30%,
    rgb(45, 41, 33) 80%,
    rgb(45, 41, 33) 95%,
    rgb(0, 0, 0) 100%
  );
}

.background-cool {
  background: radial-gradient(
    circle,
    rgb(209, 234, 236) 0%,
    rgb(209, 234, 236) 30%,
    rgb(33, 35, 45) 80%,
    rgb(33, 35, 45) 95%,
    rgb(0, 0, 0) 100%
  );
}

.padding-0 {
  padding: 0;
}

.img-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
}

.margin-top-30 {
  margin-top: 30%;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.circle {
  border-radius: 50%;
}

.width-350 {
  max-width: 350px;
  height: 350px;
}

.width-400 {
  max-width: 400px;
  height: 400px;
}

.contact-info {
  /* margin: 2rem; */
  width: 100%;
  /* padding: 1.5rem; */
  /* border-top: 1px solid #eee; */
}

.contact-info h3 {
  margin-bottom: 1rem;
}

.contact-info p {
  margin: 0.5rem 0;
}

.social-links-about a {
  margin-right: 15px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.social-links-about a:hover {
  text-decoration: underline;
}
